<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ae</key>
	<array>
		<array>
			<string>971</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>971</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ar</key>
	<array>
		<array>
			<string>54</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>54</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>54</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>at</key>
	<array>
		<array>
			<string>43</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>12</integer>
		</array>
		<array>
			<string>43</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>11</integer>
		</array>
		<array>
			<string>43</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<array>
			<string>43</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>au</key>
	<array>
		<array>
			<string>61</string>
			<string>0011</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>61</string>
			<string>0014</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>61</string>
			<string>0015</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>61</string>
			<string>0018</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>be</key>
	<array>
		<array>
			<string>32</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>32</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>32</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>br</key>
	<array>
		<array>
			<string>55</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>bw</key>
	<array>
		<array>
			<string>267</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ca</key>
	<array>
		<array>
			<string>1</string>
			<string>011</string>
			<string>1</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>cf</key>
	<array>
		<array>
			<string>236</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>ch</key>
	<array>
		<array>
			<string>41</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>41</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>ci</key>
	<array>
		<array>
			<string>225</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>cl</key>
	<array>
		<array>
			<string>56</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>56</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>56</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>cm</key>
	<array>
		<array>
			<string>237</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>cn</key>
	<array>
		<array>
			<string>86</string>
			<string>00</string>
			<string>0</string>
			<integer>0</integer>
			<integer>11</integer>
		</array>
		<array>
			<string>86</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>86</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>co</key>
	<array>
		<array>
			<string>57</string>
			<string>005</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>57</string>
			<string>007</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>57</string>
			<string>009</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>cz</key>
	<array>
		<array>
			<string>420</string>
			<string>00</string>
			<string></string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>420</string>
			<string>00</string>
			<string></string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>420</string>
			<string>00</string>
			<string></string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>de</key>
	<array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>5</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>9</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>49</string>
			<string>00</string>
			<string>0</string>
			<integer>5</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>dk</key>
	<array>
		<array>
			<string>45</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>do</key>
	<array>
		<array>
			<string>1</string>
			<string>011</string>
			<string>1</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ec</key>
	<array>
		<array>
			<string>593</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ee</key>
	<array>
		<array>
			<string>372</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>372</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>eg</key>
	<array>
		<array>
			<string>20</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>20</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>es</key>
	<array>
		<array>
			<string>34</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>fi</key>
	<array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>9</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>358</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>fr</key>
	<array>
		<array>
			<string>33</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>33</string>
			<string>00</string>
			<string>4</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>33</string>
			<string>00</string>
			<string>5</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>33</string>
			<string>00</string>
			<string>7</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>33</string>
			<string>00</string>
			<string>9</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>gn</key>
	<array>
		<array>
			<string>224</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>gq</key>
	<array>
		<array>
			<string>240</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>240</string>
			<string>00</string>
			<string></string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>gr</key>
	<array>
		<array>
			<string>30</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>gt</key>
	<array>
		<array>
			<string>502</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>gw</key>
	<array>
		<array>
			<string>245</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>hk</key>
	<array>
		<array>
			<string>852</string>
			<string>001</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>hn</key>
	<array>
		<array>
			<string>504</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>hr</key>
	<array>
		<array>
			<string>385</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>385</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>hu</key>
	<array>
		<array>
			<string>36</string>
			<string>00</string>
			<string>06</string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>36</string>
			<string>00</string>
			<string>06</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>36</string>
			<string>00</string>
			<string>06</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>36</string>
			<string>00</string>
			<string>06</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ie</key>
	<array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>353</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>in</key>
	<array>
		<array>
			<string>91</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<array>
			<string>91</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>91</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>91</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>it</key>
	<array>
		<array>
			<string>39</string>
			<string>00</string>
			<string></string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>39</string>
			<string>00</string>
			<string></string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>39</string>
			<string>00</string>
			<string></string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>39</string>
			<string>00</string>
			<string></string>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>39</string>
			<string>00</string>
			<string></string>
			<integer>1</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>jm</key>
	<array>
		<array>
			<string>1</string>
			<string>011</string>
			<string>1</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>jo</key>
	<array>
		<array>
			<string>962</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>962</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>jp</key>
	<array>
		<array>
			<string>81</string>
			<string>010</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>81</string>
			<string>010</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>81</string>
			<string>010</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>81</string>
			<string>010</string>
			<string>0</string>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>81</string>
			<string>010</string>
			<string>0</string>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<string>81</string>
			<string>010</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ke</key>
	<array>
		<array>
			<string>254</string>
			<string>000</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>254</string>
			<string>000</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>kr</key>
	<array>
		<array>
			<string>82</string>
			<string>001</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>82</string>
			<string>001</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>82</string>
			<string>002</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>82</string>
			<string>002</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>82</string>
			<string>005</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>82</string>
			<string>005</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>82</string>
			<string>006</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>82</string>
			<string>006</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>82</string>
			<string>008</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>82</string>
			<string>008</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>lt</key>
	<array>
		<array>
			<string>370</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>370</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>370</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>370</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>lv</key>
	<array>
		<array>
			<string>371</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>mg</key>
	<array>
		<array>
			<string>261</string>
			<string>00</string>
			<string></string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>mu</key>
	<array>
		<array>
			<string>230</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>230</string>
			<string>020</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>230</string>
			<string>030</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>230</string>
			<string>040</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>230</string>
			<string>050</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>230</string>
			<string>060</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>230</string>
			<string>070</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>mx</key>
	<array>
		<array>
			<string>52</string>
			<string>00</string>
			<string>01</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>52</string>
			<string>00</string>
			<string>01</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>52</string>
			<string>09</string>
			<string>02</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>52</string>
			<string>09</string>
			<string>02</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ni</key>
	<array>
		<array>
			<string>505</string>
			<string>00</string>
			<string>0</string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>nl</key>
	<array>
		<array>
			<string>31</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>31</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>no</key>
	<array>
		<array>
			<string>47</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>nz</key>
	<array>
		<array>
			<string>64</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>64</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>64</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>pa</key>
	<array>
		<array>
			<string>507</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>pe</key>
	<array>
		<array>
			<string>51</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>51</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>51</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>51</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>ph</key>
	<array>
		<array>
			<string>63</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>63</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>63</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>pl</key>
	<array>
		<array>
			<string>48</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>48</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>48</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>48</string>
			<string>00</string>
			<string>0</string>
			<integer>5</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>pr</key>
	<array>
		<array>
			<string>1</string>
			<string>011</string>
			<string>1</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>pt</key>
	<array>
		<array>
			<string>351</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>py</key>
	<array>
		<array>
			<string>595</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>595</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>ro</key>
	<array>
		<array>
			<string>40</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>40</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>40</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>sa</key>
	<array>
		<array>
			<string>966</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>966</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>se</key>
	<array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>46</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>sg</key>
	<array>
		<array>
			<string>65</string>
			<string>000</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>001</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>002</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>008</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>012</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>013</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>018</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>65</string>
			<string>019</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>sk</key>
	<array>
		<array>
			<string>421</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>421</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>sn</key>
	<array>
		<array>
			<string>221</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>9</integer>
		</array>
	</array>
	<key>sv</key>
	<array>
		<array>
			<string>503</string>
			<string>00</string>
			<string></string>
			<integer>0</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>th</key>
	<array>
		<array>
			<string>66</string>
			<string>001</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>66</string>
			<string>001</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>66</string>
			<string>001</string>
			<string>0</string>
			<integer>1</integer>
			<integer>8</integer>
		</array>
	</array>
	<key>tr</key>
	<array>
		<array>
			<string>90</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>uk</key>
	<array>
		<array>
			<string>44</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<string>44</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>44</string>
			<string>00</string>
			<string>0</string>
			<integer>4</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>44</string>
			<string>00</string>
			<string>0</string>
			<integer>5</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>44</string>
			<string>00</string>
			<string>0</string>
			<integer>5</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>us</key>
	<array>
		<array>
			<string>1</string>
			<string>011</string>
			<string>1</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>uy</key>
	<array>
		<array>
			<string>598</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<array>
			<string>598</string>
			<string>00</string>
			<string>0</string>
			<integer>2</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>598</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>598</string>
			<string>00</string>
			<string>0</string>
			<integer>1</integer>
			<integer>6</integer>
		</array>
	</array>
	<key>ve</key>
	<array>
		<array>
			<string>58</string>
			<string>00</string>
			<string>0</string>
			<integer>3</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>za</key>
	<array>
		<array>
			<string>27</string>
			<string>00</string>
			<string>0</string>
			<integer>0</integer>
			<integer>9</integer>
		</array>
	</array>
</dict>
</plist>
